body {
  height: 100vh;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
}
.loader_bar {
  display: inline-block;
  width: 10px;
  height: 40px;
  background-color: #080808;
  opacity: 0.5;
  border-radius: 10px;
  animation: scale-up 1000ms var(--d) linear infinite;
}
.loader_bar:nth-child(even) {
  height: 25px;
}
.loader_bar:nth-child(3) {
  height: 50px;
}
@keyframes scale-up {
  25% {
    opacity: 1;
    scale: 1 1.5;
  }
  50% {
    scale: 1;
  }
}
